@model WebApplication2.Models.ChangePassword
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div>
        <span style="color:red">@TempData["Message"]</span>
        @using (Html.BeginForm("Update_Password", "Login", FormMethod.Post))
        {
        <table>

            <tr>
                <td> <i>Old Password:</i></td>
                <td>@Html.TextBoxFor(m => m.oldPassword)</td>
                <td>@Html.ValidationMessageFor(x => x.oldPassword)</td>
            </tr>



            <tr>
                <td><i>New Password:</i></td>
                <td>@Html.TextBoxFor(m => m.newPassword) </td>
                <td>@Html.ValidationMessageFor(x => x.newPassword)</td>
            </tr>



            <tr>
                <td><i>ReEnter Password:</i></td>
                <td>@Html.TextBoxFor(m => m.varifynewPassword)</td>
                <td>@Html.ValidationMessageFor(x => x.varifynewPassword)</td>
            </tr>
            <tr>
                <td>
                    <input id="Submit1" type="submit" value="Update" />
                    </td>
            </tr>

        </table>
         }

    </div>
</body>
</html>
