@model WebApplication2.Models.ChangePassword
@{
    Layout = null;
}

@Html.ActionLink("back to homepage", "Index", "Login")
<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <style>

   .responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

        body {
            padding: 0 2em;
            font-family: Arial, sans-serif;
            color: #024457;
            background: #f2f2f2;
     
        }

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
}
h1 span {
  color: #167F92;
}

        input[type="submit"]
        {
            box-sizing:unset;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 20%;
            padding: 1%;
            background: #43D1AF;
            border-bottom: 2px solid #30C29E;
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            color: #fff;
        }
            input[type="submit"]:hover {
                background: #2EBC99;
            }

    </style>
</head>
<body>
    <div align="center">
        <h1>Change <span>Password</span></h1>
        <br /><br />
        <span style="color:red">@TempData["Message"]</span>
        @using (Html.BeginForm("Update_Password", "Login", FormMethod.Post))
        {
            <table class="responstable">

                <tr>
                    <td> <i>Old Password:</i></td>
                    <td>@Html.TextBoxFor(m => m.oldPassword)</td>
                    <td>@Html.ValidationMessageFor(x => x.oldPassword)</td>
                </tr>



                <tr>
                    <td><i>New Password:</i></td>
                    <td>@Html.TextBoxFor(m => m.newPassword) </td>
                    <td>@Html.ValidationMessageFor(x => x.newPassword)</td>
                </tr>



                <tr>
                    <td><i>Confirm Password:</i></td>
                    <td>@Html.TextBoxFor(m => m.varifynewPassword)</td>
                    <td>@Html.ValidationMessageFor(x => x.varifynewPassword)</td>
                </tr>


            </table>
            <input type="submit" value="Update" />
        }

    </div>
</body>
</html>

