@model WebApplication2.Models.ChangePassword
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div>
        <span style="color:red">@TempData["Message"]</span>
        <form action="Update_Password" method="post">
            Old Password:<input id="Text1" type="text" name="oldPassword" value="@Model.oldPassword" /> @Html.ValidationMessageFor(x => x.oldPassword)
            <br />
            New Password:<input id="Text1" type="text" name="newPassword" value="@Model.newPassword" /> @Html.ValidationMessageFor(x => x.newPassword)
            <br />
            ReEnter Password: <input id="Text1" type="text" name="varifynewPassword" value="@Model.varifynewPassword" /> @Html.ValidationMessageFor(x => x.varifynewPassword)
            <br />
            <input id="Submit1" type="submit" value="Update" />

        </form>
    </div>
</body>
</html>
