@using WebApplication2.Models;
@{
    ViewBag.Title = "Profile";
}

<h2 style="color:white"> Profile </h2>
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        body {
            background-image: url("../img/ha.jpg"); /* The image used */
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color:cornsilk;
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }
        .btn-default {
            background-color: white
        }
            button:hover, a:hover {
                opacity: 0.7;
            }

        .btn.btn-default {
            /* Whatever their CSS is */
        }

    $("#profilesImage").click(function(e) {
    $("#imageUpload").click();
    });
        #imageUpload {
            display: none;
        }

        #profileImage {
            cursor: pointer;
        }
    </style>
</head>
<body>

    



    <div class="card">
        <br />
        <h3 style="color:black">Add Profile Picture</h3>
        <br /><br />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <image id="profileImage" src="http://lorempixel.com/100/100" />
        
        <form action="upload.php" method="post" enctype="multipart/form-data">
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload Image" name="submit">
        </form>
        <alt =@AccountInfo.userName style="width:100%">
            <h1 style="color:black">@AccountInfo.userName</h1>
            <p style="color:black" class="title">@AccountInfo.userRole</p>
            <p style="color:black">@AccountInfo.email</p>

            <p>@Html.ActionLink("ChangePassword", "ChangePassword", "Login", null, new { @class = "btn btn-default btn-md" })</p>
            <p>@Html.ActionLink("DeleteAccount", "DeleteAccount", "Login", null, new { @class = "btn btn-default btn-md" })</p>
            <br />
    </div>

</body>
</html>
