
@{
    ViewBag.Title = "Requests";
}


<html>
<head>
    <style>


        body {
            background-image: url('../../img/black.jpg'); /* The image used */
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: 2000px; /* Resize the background image to cover the entire container */
        }

        .containers {
            
            align-items: center;
            flex-wrap: wrap;
            height: 70vh;   
            
           
        }

            .containers .skewBtn {
                width: 250px;
                height: 80px;
                outline: none;
                cursor: pointer;
                background: none;
                transition: .5s;
                font-size: 20px;
                border-radius: 5px;
                font-family: "Lato",sans-serif;
            }

                .containers .skewBtn:hover {
                    border: none;
                    color: white;
                    font-size: 28px;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }

        /* Buttons */
        .purple {
            border: 2px solid #21750e;
            color: #21750e;
        }

            .purple:hover {
                background-color: #21750e;
                transition: all 0.3s ease-in-out;
            }

        .blue {
            border: 2px solid #1976D2;
            color: #1976D2;
        }

            .blue:hover {
                background-color: #1976D2;
                transition: all 0.3s ease-in-out;
            }

        .lorange {
            border: 2px solid #FBC02D;
            color: #FBC02D;
        }

            .lorange:hover {
                background-color: #FBC02D;
                transition: all 0.3s ease-in-out;
            }

        .brick {
            border: 2px solid #FF5722;
            color: #FF5722;
        }

            .brick:hover {
                background-color: #FF5722;
                transition: all 0.3s ease-in-out;
            }

    </style>
</head>
<body>
    <div align="center" style="color:white"><h1> Requests</h1></div>
    <br />
    <br />
    <br />
    <div class="containers" >
        <p align="center"><button class="skewBtn purple" onclick="@("window.location.href='" + @Url.Action("New_Request", "Project") + "'");">New Request</button></p><br />
        <p align="center"><button class="skewBtn blue" onclick="@("window.location.href='" + @Url.Action("My_Requests", "Project") + "'");">My Requests</button></p><br />
        <p align="center"><button class="skewBtn lorange" onclick="@("window.location.href='" + @Url.Action("View_Requests", "Project") + "'");">All Requests</button></p><br />
        <p align="center"><button class="skewBtn brick" onclick="@("window.location.href='" + @Url.Action("View_Recent_Requests", "Project") + "'");">Recent Requests</button></p>
    </div>


   

</body>
</html>







