@using WebApplication2.Models



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .ddd {
            color: red
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">



                    <li>@Html.ActionLink("PrivacyPolicy", "Privacy", "Login")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Login")</li>
                    <li>@Html.ActionLink("Profile", "Profile", "Login")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>




                </ul>
            </div>
        </div>
    </div>

</body>
</html>



@if (AccountInfo.isLoggedIn)
{
    <div class ="ddd">
    <i>   Email: </i> @AccountInfo.email <i> | User Role: </i> @AccountInfo.userRole <i> | Name: </i> @AccountInfo.userName <i>
        &nbsp; &nbsp; &nbsp;
    </i>
    </div>
}





<br />
<hr />